.saifgs-table-content {
    width: 100%;
    overflow-x: auto;
    table {
        text-wrap: nowrap;
        .saifgs-table-cell {
            padding: 20px !important;
        }
    }
}

#rc-tabs-0-panel-4 {
    margin: 20px;
}
