.saifgs-table-content {
    width: 100%;
    overflow-x: auto;
    table {
        text-wrap: nowrap;
        .saifgs-table-cell {
            padding: 20px !important;
        }
    }
}

// .saifgs-form-item .saifgs-form-item-label>label {
//     align-items: end;
// }
#rc-tabs-0-panel-4 {
    margin: 20px;
}

// .saifgs-form-item {
//     margin: 10px 0 40px !important;
// }
// .saifgs-select-outlined:not(.saifgs-select-customize-input) .saifgs-select-selector {
//     height: 50px;
//     width: auto !important;
// }